.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .text-center{
    text-align: center;
  }
   body{
    background-image: url(../assets/Hero-bg.png);
    
   }
   .chondon{
    margin-top: 42px;
   }
    section{
         width:1440px;
         height: 652px;
         max-width: 700px;
         margin: 0px auto;
    }
    .main-button{
      font-weight:bold;
       font-size:20px;
      background-color: #0D1321;
      color: #FFFFFF;
      padding: 21px 24px;
      border-radius: 8px;
      margin-top: 32px;
      margin-bottom:43px ;
       
    }
    .btn-primary{
     margin: 40px auto; 
     
    }