body{
    background-color:rgb(253, 252, 252);
   
 
}
nav{
    width: 1140px;
    border: 1px solid black;
    padding: 80px 92px;
    
  
    margin: 0px auto;
}

section{
/*     
    width:1140px;
    margin: 0px auto; */
}
/* shared style */

.text-center{
    text-align: center;
}
.main{
    width: 852px;
    margin: 45px 164px;
}
.main-tittle{
    font-size: 32px;
    font-weight: bold;
}
.main-description{
    font-size: 18px;
}
/* section-1 */

.section-1{
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 43px;
    display: flex;
    width: 948px;
}

.section-tittle-1{
    width: 320px;
    color: #101829;
    font-size: 24px;
    font-weight: bold;
}
.section-description1{
    font-size: 18px;
    width: 488px;
}
.btn-primary{
    font-size: 20px ;
    font-weight: bold;
    padding: 12px 20px;
}
/* part -2 */

.section-2{
    display: flex;
    gap: 32px;
    padding: 43px;
    background-color: white;
    width: 948px;
    margin-top: 32px;
}
.section-tittle-2{
    width: 400px;
    color: #101829;
    font-size: 24px;
    font-weight: bold;
}
.section-description-2{
    font-size: 18px;
    width: 488px;
}
/* 3rd part */
.section-3{
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 43px;
    display: flex;
    width: 948px;
    margin-top: 43px;
}

.section-tittle-3{
    width: 320px;
    color: #101829;
    font-size: 24px;
    font-weight: bold;
}
.section-description-3{
    font-size: 18px;
    width: 488px;
}